div.square {
  background-color: darkgreen;
  width: 100px;
  height: 100px;
  font-size: 5em;
  text-align: center;
  border: 1px solid black;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
